<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <link href="~/Assets/images/favicon.png" rel="icon">
    <link href="~/Assets/images/apple-touch-icon.png" rel="apple-touch-icon">
    <link href="https://fonts.gstatic.com" rel="preconnect">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    @*<link href="~/Assets/toastr-master/toastr-master/build/toastr.min.css" rel="stylesheet" />*@

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    @*<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">*@

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">

    <link href="~/Assets/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Assets/css/bootstrap-icons.css" rel="stylesheet" />
    <link href="~/Assets/css/boxicons.min.css" rel="stylesheet" />
    <link href="~/Assets/css/quill.snow.css" rel="stylesheet" />
    <link href="~/Assets/css/quill.bubble.css" rel="stylesheet" />
    <link href="~/Assets/css/remixicon.css" rel="stylesheet" />
    <link href="~/Assets/css/simple-datatables.css" rel="stylesheet" />
    <link href="~/Assets/css/style_Profile.css" rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />

</head>
<body>
    <div>
        @RenderBody()
    </div>

    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>*@

    <!--<script src="~/Assets/js/apexcharts.min.js"></script>-->
    <script src="~/Assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/js/chart.min.js"></script>
    <script src="~/Assets/js/echarts.min.js"></script>
    <script src="~/Assets/js/quill.min.js"></script>
    <script src="~/Assets/js/simple-datatables.js"></script>
    <script src="~/Assets/js/tinymce.min.js"></script>
    <script src="~/Assets/js/validate.js"></script>
    <script src="~/Assets/js/main.js"></script>
    <script src="~/Assets/js/fontawesome.min.js"></script>
    @*<script src="~/Assets/toastr-master/toastr-master/build/toastr.min.js"></script>*@
    <!-- Add jQuery (required for Toastr) -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- Add Toastr JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

    @if (TempData["ProfileUpdated"] != null)
    {
        <script>
        $(document).ready(function () {
            toastr.success('@TempData["ProfileUpdated"]');
        });
        </script>
    }

    @if (TempData["ErrorMessage"] != null)
    {
        <script>
        $(document).ready(function () {
            toastr.error('@TempData["ErrorMessage"]');
        });
        </script>
    }

    @if (TempData["FileSaved"] != null)
    {
        <script>
        $(document).ready(function () {
            toastr.success('@TempData["FileSaved"]');
        });
        </script>
    }
    @if (TempData["EditFullnameError"] != null)
    {
        <script>
        $(document).ready(function () {
            toastr.error('@TempData["EditFullnameError"]');
        });
        </script>
    }
    @if (TempData["EditNationalIDError"] != null)
    {
        <script>
        $(document).ready(function () {
            toastr.error('@TempData["EditNationalIDError"]');
        });
        </script>
    }
    @if (TempData["EditAboutError"] != null)
    {
        <script>
        $(document).ready(function () {
            toastr.error('@TempData["EditAboutError"]');
        });
        </script>
    }
    @if (TempData["EditSchoolError"] != null)
    {
        <script>
        $(document).ready(function () {
            toastr.error('@TempData["EditSchoolError"]');
        });
        </script>
    }
    @if (TempData["EditGradeError"] != null)
    {
        <script>
        $(document).ready(function () {
            toastr.error('@TempData["EditGradeError"]');
        });
        </script>
    }
    @if (TempData["EditAddress1Error"] != null)
    {
        <script>
        $(document).ready(function () {
            toastr.error('@TempData["EditAddress1Error"]');
        });
        </script>
    }
    @if (TempData["EditAddress2Error"] != null)
    {
        <script>
        $(document).ready(function () {
            toastr.error('@TempData["EditAddress2Error"]');
        });
        </script>
    }
    @if (TempData["EditAddress3Error"] != null)
    {
        <script>
        $(document).ready(function () {
            toastr.error('@TempData["EditAddress3Error"]');
        });
        </script>
    }
    @if (TempData["EditAPhoneError"] != null)
    {
        <script>
        $(document).ready(function () {
            toastr.error('@TempData["EditAPhoneError"]');
        });
        </script>
    }
    @if (TempData["EditEmailAddressError"] != null)
    {
        <script>
        $(document).ready(function () {
            toastr.error('@TempData["EditEmailAddressError"]');
        });
        </script>
    }
    @if (TempData["InterestDeletionError"] != null)
    {
        <script>
        $(document).ready(function () {
            toastr.error('@TempData["InterestDeletionError"]');
        });
        </script>
    }
    @if (TempData["InterestDeletionSuccess"] != null)
    {
        <script>
            $(document).ready(function () {
                toastr.success('@TempData["InterestDeletionSuccess"]');
        });
        </script>
    }
    @if (TempData["DocDeleteError"] != null)
    {
        <script>
        $(document).ready(function () {
            toastr.error('@TempData["DocDeleteError"]');
        });
        </script>
    }
    @if (TempData["DocDeleteSuccess"] != null)
    {
        <script>
        $(document).ready(function () {
            toastr.success('@TempData["OpportunitySuccess"]');
        });
        </script>
    }

    @if (TempData["PasswordChangeSuccess"] != null)
    {
        <script>
        $(document).ready(function () {
            toastr.success('@TempData["PasswordChangeSuccess"]');
        });
        </script>
    }

    @if (TempData["PasswordChangeError"] != null)
    {
        <script>
        $(document).ready(function () {
            toastr.success('@TempData["PasswordChangeError"]');
        });
        </script>
    }
</body>
</html>
