@model fst_Career_Portal_Dev.Models.LoginMdl

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LoginLayoutPage.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h1 class="header-w3ls">
        FASSET CAREER PORTAL<span class="trademark_1" style=" vertical-align: super;">&#174;</span>
    </h1>
    <div class="art-bothside">
        <div class="mid-cls">
            <div class="art-right-w3ls">
                <h1 class="header-w3ls">Portal login</h1>
                <p>Facilitating the achievement of world-class finance and accounting services skills. </p>
                <form action="#" method="post">
                    <div class="main">
                        <div class="form-left-to-w3l">
                            @*<input type="text" name="username" placeholder="Username" required="">*@
                            @Html.TextBoxFor(e => e.Username, new { @class = "form-control", placeholder = "Username *", name = "username" })
                            @if (TempData["LoginUsernameError"] != null)
                            {
                                <script>
                                    $(document).ready(function () {
                                            var submitButton = '@ViewBag.SubmitButton'; // Use your actual ViewBag variable here
                                        if (submitButton !== 'Register') {
                                            toastr.error('@TempData["LoginUsernameError"]');
                                        }else {
                                            // Redirect to registration page
                                            window.location.href = '@Url.Action("Index", "Register")'; // Modify the action and controller names as needed
                                        }

                                        });
                                </script>
                            }
                        </div>
                        <div class="main">
                            <div class="form-left-to-w3l">
                                @*<input type="password" name="password" placeholder="Password" id="password" required="">*@
                                @Html.PasswordFor(e => e.Password, new { @class = "form-control", placeholder = "Password *", name = "password" })
                                @if (TempData["LoginPasswordError"] != null)
                                {
                                    <script>
                                        $(document).ready(function () {
                                        var submitButton = '@ViewBag.SubmitButton'; // Use your actual ViewBag variable here
                                            if (submitButton !== 'Register') {
                                                toastr.error('@TempData["LoginPasswordError"]');
                                            }
                                        });
                                    </script>
                                }
                                <div class="clear"></div>
                            </div>
                        </div>
                        <!--<div class="form-right-w3ls">-->
                        @*<select id="company" class="form-control">
                                <option value="" selected disabled>Select Role Type</option>
                                <option>Student</option>
                                <option>Fasset Admin</option>
                                <option>Service Provider</option>
                            </select>*@
                        <!--@*Html.DropDownList("role", ViewBag.Roles as SelectList, "Select Category")*@-->
                        @*@Html.DropDownListFor(m => m., new SelectList(Enum.GetValues(typeof(UserRoles))), "Select Role")*@
                        <!--</div>-->

                    </div>

                    <!--<div class="btnn">
                    <button type="submit" name="button" value="Login">Sign In</button>-->
                    @*<button id="cust_button" type="button" onclick="location.href='../Register/Index'">Sign Up</button>*@

                    <!--<button name="button" value="Register" type="submit" onclick="location.href='@Url.Action("Index", "Register")'">Sign Up</button>-->
                    @*onclick="location.href='<%: Url.Action("Action", "Controller") %>'"*@
                    <!--</div>-->
                    <div class="btnn">
                        <button type="submit" name="button" value="Login" style="background-color: #00008B; color: white; ">Sign In</button>

                        <button name="button" value="Register" type="submit" style="background-color: #00008B; color: white; " onclick="location.href='@Url.Action("Index", "Register")'">Sign Up</button>
                    </div>
                </form>
                <div class="banner-agileits-btm">
                    <div class="w3layouts_more-buttn">
                        <h3 class="forgotPass">Did you forget your password..? <a href="#small-dialog1 " class="play-icon popup-with-zoom-anim" onclick="location.href='@Url.Action("Index", "ForgotPassword")'">Reset Password</a></h3>
                    </div>
                </div>
            </div>
            <div class="art-left-w3ls">
                <img src="~/Content/images/fasset_logo_1-removebg-preview (1).png" />
            </div>
        </div>
    </div>
    <div class="copy">
        <p>&copy;2022 FASSET Career Portal. All Rights Reserved | Design by <a href="http:fasset.org.za" target="_blank">FASSET</a></p>
    </div>
    @*if (TempData["LoginSuccessful"] != null)
        {
            <script>
            $(document).ready(function () {
                toastr.success('@TempData["Login successful"]');
            });
            </script>
        }
        if (TempData["ErrorMessage"] != null)
        {
            <script>
            $(document).ready(function () {
                toastr.error('@TempData["ErrorMessage"]');
            });
            </script>*@
}
<!--js working-->
@*<script src="~/Assets/js/jquery-2.2.3.min.js"></script>*@
<!--//js working-->
@*<script>
        var password = document.getElementById("password")
            , confirm_password = document.getElementById("confirm_password");

        function validatePassword() {
            if (password.value != confirm_password.value) {
                confirm_password.setCustomValidity("Passwords Don't Match");
            } else {
                confirm_password.setCustomValidity('');
            }
        }

        password.onchange = validatePassword;
        confirm_password.onkeyup = validatePassword;
    </script>*@
<!--//scripts-->
@*<script src="~/Assets/js/jquery.magnific-popup.js"></script>*@
<!-- //pop-up-box -->
<script>
    $(document).ready(function () {
        $('.popup-with-zoom-anim').magnificPopup({
            type: 'inline',
            fixedContentPos: false,
            fixedBgPos: true,
            overflowY: 'auto',
            closeBtnInside: true,
            preloader: false,
            midClick: true,
            removalDelay: 300,
            mainClass: 'my-mfp-zoom-in'
        });

    });
</script>

<!-- //pop-up-box -->
