@model fst_Career_Portal_Dev.Models.RegisterMdl

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_RegisterLayoutPage1.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<link href="~/Content/css/popuo-box.css" rel="stylesheet" />

@*@using (Html.BeginForm("Register", "Index", FormMethod.Post))  //Page + Controller*@
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h1 class="header-w3ls">
        FASSET CAREER PORTAL<span class="trademark_1" style=" vertical-align: super;">&#174;</span>
    </h1>
    <div class="container">
        <div class="art-bothside">

            <div class="mid-cls">
                <form action="#" method="post">
                    <div class="art-right-w3ls">
                        <h1 class="header-w3ls" id="register_header">Portal Registration</h1>
                        @*<p>Facilitating the achievement of world-class finance and accounting services skills. </p>*@

                        <div class="main" id="column">
                            <div class="form-left-to-w3l">
                                @*<input type="text" name="username" placeholder="Username" required="">*@
                                @Html.TextBoxFor(e => e.Username, new { @class = "form-control custom-placeholder", placeholder = "Username *" })
                                @if (TempData["UsernameError"] != null)
                                {
                                    <script>
                                        $(document).ready(function () {
                                            toastr.error('@TempData["UsernameError"]');
                                        });
                                    </script>
                                }
                            </div>
                            <div class="main">
                                <div class="form-left-to-w3l">
                                    @*<input type="password" name="password" placeholder="Password" id="password" required="">*@
                                    @Html.PasswordFor(e => e.Password, new { @class = "form-control custom-placeholder", placeholder = "Password *" })
                                    @if (TempData["RegisterPasswordError"] != null)
                                    {
                                        <script>
                                            $(document).ready(function () {
                                                toastr.error('@TempData["RegisterPasswordError"]');
                                            });
                                        </script>
                                    }
                                    @*<div class="clear"></div>*@
                                </div>
                            </div>
                            <div class="main">
                                <div class="form-left-to-w3l">
                                    @*<input type="password" name="password" placeholder="Password" id="password" required="">*@
                                    @Html.PasswordFor(e => e.ConfirmPassword, new { @class = "form-control custom-placeholder", placeholder = "Confirm Password *" })
                                    @if (TempData["RegisterPasswordConfirmError"] != null)
                                    {
                                        <script>
                                            $(document).ready(function () {
                                                toastr.error('@TempData["RegisterPasswordConfirmError"]');
                                            });
                                        </script>
                                    }
                                    @*<div class="clear"></div>*@
                                </div>
                            </div>
                            <div class="form-left-to-w3l">
                                @*<input type="text" name="userEmail" placeholder="Email Address" required="">*@
                                @Html.TextBoxFor(e => e.Email, new { @class = "form-control custom-placeholder", placeholder = "Email *" })
                                @if (TempData["EmailError"] != null)
                                {
                                    <script>
                                        $(document).ready(function () {
                                            toastr.error('@TempData["EmailError"]');
                                        });
                                    </script>
                                }

                            </div>

                            <!-------GENDER OBJECT TAKE TO PROFILE-->
                            <!--<div class="form-right-w3ls">-->
                            @*@Html.DropDownListFor(model => model.register_roleList, new SelectList(Model.register_roleList, "Register_RoleID", "Register_RoleName"),"Select Role", new { @class = "form-control", @name = "RoleList" })
                                @Html.DropDownListFor(model => model.register_roleList, new SelectList(Model.register_roleList, "Register_RoleID", "Register_RoleName"), "Select Role", new { @class = "form-control", @name = "RoleList" })*@
                            <!--@Html.DropDownListFor(model => model.SelectedGender, new List<SelectListItem> {
                                                 new SelectListItem { Text = "Male", Value = "Male" },
                            new SelectListItem { Text = "Female", Value = "Female" },
                            new SelectListItem { Text = "Other", Value = "Other" }
                                            }, "Select Gender *", new { @class = "form-control custom-select-placeholder", @id = "roleDropdown" })

                                       </div>-->
                            <!-------GENDER OBJECT TAKE TO PROFILE-->
                        </div>


                        <!--<div class="btnn">-->
                        @*<button type="submit" onclick="location.href='../Dashboard'">Back</button>*@
                        @*<button name="button" value="Register" type="submit" onclick="location.href='@Url.Action("Index", "Register")'">Sign Up</button>
                            @*<button type="submit" name="button" value="Register" style="background-color: #00008B; color: white; ">Sign Up</button>*@
                        @*<button type="submit" onclick="location.href='../Register/Login'">Sign Up</button>*@
                        <!--</div>-->
                        @*<div class="banner-agileits-btm">
                                <div class="w3layouts_more-buttn">
                                    <h3>Don’t have an account..? <a href="#small-dialog1 " class="play-icon popup-with-zoom-anim">Reset Password</a></h3>
                                </div>
                            </div>*@
                    </div>
                    <div class="art-left-w3ls">
                        <div>
                            <img class="image-reg" src="~/Content/images/fasset_logo_1-removebg-preview (1).png" />
                        </div>
                        <div class="main" id="column2">
                            <div class="form-left-to-w3l">
                                @*<input type="text" name="username" placeholder="Username" required="">*@
                                @Html.TextBoxFor(e => e.FirstName, new { @class = "form-control custom-placeholder", placeholder = "First Name *" })
                                @if (TempData["RegisterFirstNameError"] != null)
                                {
                                    <script>
                                        $(document).ready(function () {
                                            toastr.error('@TempData["RegisterFirstNameError"]');
                                        });
                                    </script>
                                }

                            </div>
                            <div class="main">
                                <div class="form-left-to-w3l">
                                    @*<input type="password" name="password" placeholder="Password" id="password" required="">*@
                                    @Html.TextBoxFor(e => e.LastName, new { @class = "form-control custom-placeholder", placeholder = "Last Name *" })
                                    @if (TempData["RegsiterLastNameError"] != null)
                                    {
                                        <script>
                                            $(document).ready(function () {
                                                toastr.error('@TempData["RegsiterLastNameError"]');
                                            });
                                        </script>
                                    }

                                    <div class="clear"></div>
                                </div>
                            </div>
                            <div class="form-left-to-w3l">
                                @*<input type="text" name="userEmail" placeholder="Email Address" required="">*@
                                @Html.TextBoxFor(e => e.NationalID, new { @class = "form-control custom-placeholder", placeholder = "National ID *" })
                                @if (TempData["RegisterNationalIDError"] != null)
                                {
                                    <script>
                                        $(document).ready(function () {
                                            toastr.error('@TempData["RegisterNationalIDError"]');
                                        });
                                    </script>
                                }

                            </div>
                            @*<div class="main">
            <div class="form-left-to-w3l">
                @Html.TextBoxFor(e => e.Grade, new { @class = "form-control custom-placeholder", placeholder = "Current Grade *" })
                @if (TempData["RegisterGradeError"] != null)
                {
                    <script>
                        $(document).ready(function () {
                            toastr.error('@TempData["RegisterGradeError"]');
                        });
                    </script>
                }

                <div class="clear"></div>
            </div>
        </div>*@
                            <!--<div class="form-right-w3ls">-->
                            @*@Html.DropDownListFor(model => model.register_roleList, new SelectList(Model.register_roleList, "Register_RoleID", "Register_RoleName"),"Select Role", new { @class = "form-control", @name = "RoleList" })
        @Html.DropDownListFor(model => model.register_roleList, new SelectList(Model.register_roleList, "Register_RoleID", "Register_RoleName"), "Select Role", new { @class = "form-control", @name = "RoleList" })*@
                            <!--@Html.DropDownListFor(model => model.SelectedGrade, new List<SelectListItem> {
           //new SelectListItem { Text = "Grade 10", Value = "Grade 10" },
           //new SelectListItem { Text = "Grade 11", Value = "Grade 11" },
           //new SelectListItem { Text = "Grade 12", Value = "Grade 12" },
           //new SelectListItem { Text = "University(1st yr)", Value = "University(1st yr)" },
           //new SelectListItem { Text = "University(2st yr)", Value = "University(2st yr)" },
           //new SelectListItem { Text = "University(3st yr)", Value = "University(3st yr)" },
           //new SelectListItem { Text = "TVET(1st yr)", Value = "TVET(1st yr)" },
           //new SelectListItem { Text = "TVET(2st yr)", Value = "TVET(2st yr)" },
           //new SelectListItem { Text = "TVET(3st yr)", Value = "TVET(3st yr)" },
           //new SelectListItem { Text = "Other", Value = "Other" }
       }, "Current Education Level *", new { @class = "form-control custom-select-placeholder", @id = "roleDropdown" })
        @if (TempData["RegisterGradeError"] != null)
        {
            <script>
                    $(document).ready(function () {
                        toastr.error('@TempData["RegisterGradeError"]');
                    });
            </script>
        }

        <div class="clear"></div>
    </div>-->
                            <!--Current School-->
                            <!--<div class="form-left-to-w3l">-->
                            @*<input type="text" name="userEmail" placeholder="Email Address" required="">*@
                            <!--@Html.TextBoxFor(e => e.School, new { @class = "form-control custom-placeholder", placeholder = "Current School *" })
        @if (TempData["RegisterSchoolError"] != null)
        {
            <script>
                    $(document).ready(function () {
                        toastr.error('@TempData["RegisterSchoolError"]');
                    });
            </script>
        }
    </div>-->
                            <!--Current School-->
                            <!--<div class="form-left-to-w3l">-->
                            @*<input type="text" name="userEmail" placeholder="Email Address" required="">*@
                            @*@Html.TextBoxFor(e => e.Gender, new { @class = "form-control custom-placeholder", placeholder = "Gender *" })*@

                            @*@Html.DropDownListFor(e => e.SelectedGender, new List<SelectListItem>
        {
            new SelectListItem { Text = "Male", Value = "Male" },
            new SelectListItem { Text = "Female", Value = "Female" },
            new SelectListItem { Text = "Other", Value = "Other" }
            // Add more options as needed
        }, "Select Gender", new { @class = "form-control custom-placeholder", @id = "roleDropdown" })

        @if (TempData["RegisterGenderError"] != null)
        {
            <script>
                    $(document).ready(function () {
                        toastr.error('@TempData["RegisterGenderError"]');
                    });
            </script>
        }*@
                            <!--</div>-->
                            <p>
                                Please read and accept the
                                <a href="#" id="termsLink">terms and conditions</a>
                                and
                                <a href="#" id="popiaLink">POPIA policy</a>.
                            </p>
                            <label for="termsCheckbox">
                                @Html.CheckBoxFor(m => m.AcceptTerms)
                                <span>I agree to the terms and conditions</span>
                            </label>

                            <!-- Your modal containers -->
                            <div id="termsModal" style="display: none;">
                                <!-- Content for terms modal -->
                            </div>

                            <div id="popiaModal" style="display: none;">
                                <!-- Content for POPIA modal -->
                            </div>
                        </div>
                        <!-- Your modal containers -->
                        <div id="termsModal" style="display: none;">
                            <!-- Content for terms modal -->
                        </div>

                        <div id="popiaModal" style="display: none;">
                            <!-- Content for POPIA modal -->
                        </div>
                        @*<img src="~/Assets/images/right1.jpg" />*@
                        <button type="submit" name="button" value="Register" style="background-color: #00008B; color: white; ">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="copy">
            <p>&copy;2022 FASSET Career Portal. All Rights Reserved | Design by <a href="http:fasset.org.za" target="_blank">FASSET</a></p>
        </div>
    </div>
    <script>
        document.getElementById('termsLink').addEventListener('click', function (e) {
            e.preventDefault();
            document.getElementById('termsModal').style.display = 'block';
        });

        document.getElementById('popiaLink').addEventListener('click', function (e) {
            e.preventDefault();
            document.getElementById('popiaModal').style.display = 'block';
        });
    </script>
}
}

