@model fst_Career_Portal_Dev.Models.OpportunityMdl

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_OpportunityLayoutPage.cshtml";
}

<body>
    <header id="header" class="header fixed-top d-flex align-items-center">
        <div class="d-flex align-items-center justify-content-between"> <a href="index.html" class="logo d-flex align-items-center"> <img src="assets/img/logo.png" alt=""> <span class="d-none d-lg-block">Admin</span> </a> <i class="bi bi-list toggle-sidebar-btn"></i></div>
        <div class="search-bar">
            <form class="search-form d-flex align-items-center" method="POST" action="#"> <input type="text" name="query" placeholder="Search" title="Enter search keyword"> <button type="submit" title="Search"><i class="bi bi-search"></i></button></form>
        </div>
        <nav class="header-nav ms-auto">
            <ul class="d-flex align-items-center">
                <li class="nav-item d-block d-lg-none"> <a class="nav-link nav-icon search-bar-toggle " href="#"> <i class="bi bi-search"></i> </a></li>
                <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown"> <i class="bi bi-bell"></i> <span class="badge bg-primary badge-number">4</span> </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow notifications">
                        <li class="dropdown-header"> You have 4 new notifications <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="notification-item">
                            <i class="bi bi-exclamation-circle text-warning"></i>
                            <div>
                                <h4>Lorem Ipsum</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>30 min. ago</p>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="notification-item">
                            <i class="bi bi-x-circle text-danger"></i>
                            <div>
                                <h4>Atque rerum nesciunt</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>1 hr. ago</p>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="notification-item">
                            <i class="bi bi-check-circle text-success"></i>
                            <div>
                                <h4>Sit rerum fuga</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>2 hrs. ago</p>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="notification-item">
                            <i class="bi bi-info-circle text-primary"></i>
                            <div>
                                <h4>Dicta reprehenderit</h4>
                                <p>Quae dolorem earum veritatis oditseno</p>
                                <p>4 hrs. ago</p>
                            </div>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-footer"> <a href="#">Show all notifications</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link nav-icon" href="#" data-bs-toggle="dropdown"> <i class="bi bi-chat-left-text"></i> <span class="badge bg-success badge-number">3</span> </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow messages">
                        <li class="dropdown-header"> You have 3 new messages <a href="#"><span class="badge rounded-pill bg-primary p-2 ms-2">View all</span></a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-1.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Jassa</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>4 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-2.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Jassa</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>6 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="message-item">
                            <a href="#">
                                <img src="assets/img/messages-3.jpg" alt="" class="rounded-circle">
                                <div>
                                    <h4>Jassa</h4>
                                    <p>Velit asperiores et ducimus soluta repudiandae labore officia est ut...</p>
                                    <p>8 hrs. ago</p>
                                </div>
                            </a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li class="dropdown-footer"> <a href="#">Show all messages</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown pe-3">
                    <a class="nav-link nav-profile d-flex align-items-center pe-0" href="#" data-bs-toggle="dropdown"> <img src="assets/img/profile-img.jpg" alt="Profile" class="rounded-circle"> <span class="d-none d-md-block dropdown-toggle ps-2">Jassa</span> </a>
                    <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
                        <li class="dropdown-header">
                            <h6>Jassa</h6>
                            <span>Web Designer</span>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li> <a class="dropdown-item d-flex align-items-center" href="users-profile.html"> <i class="bi bi-person"></i> <span>My Profile</span> </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li> <a class="dropdown-item d-flex align-items-center" href="users-profile.html"> <i class="bi bi-gear"></i> <span>Account Settings</span> </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li> <a class="dropdown-item d-flex align-items-center" href="pages-faq.html"> <i class="bi bi-question-circle"></i> <span>Need Help?</span> </a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li> <a class="dropdown-item d-flex align-items-center" href="#"> <i class="bi bi-box-arrow-right"></i> <span>Sign Out</span> </a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    <aside id="sidebar" class="sidebar">
        <ul class="sidebar-nav" id="sidebar-nav">
            <li class="nav-item"> <a class="nav-link collapsed" href="index.html"> <i class="bi bi-grid"></i> <span>Dashboard</span> </a></li>
            <li class="nav-item"> <a class="nav-link collapsed" href="@Url.Action("Index", "Profile")"> <i class="bi bi-person"></i> <span>Learner Profile</span> </a></li>

            <li class="nav-item"> <a class="nav-link collapsed" href="@Url.Action("Index", "LearnerOpportunity")"> <i class="bi bi-card-list"></i> <span>Learner Opportunities</span> </a></li>
            <li class="nav-item">
                <a class="nav-link collapsed" data-bs-target="#charts-nav" data-bs-toggle="collapse" href="#"> <i class="bi bi-bar-chart"></i><span>Portal Documents</span><i class="bi bi-chevron-down ms-auto"></i> </a>
                <ul id="charts-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
                    <li id="gradient_bullet"> <a href="#"><span>Manual</span> </a></li>
                    <li> <a href="#"><span>Popia Statement & Declaration</span> </a></li>
                    <li> <a href="#"><span>Learner Uploads</span> </a></li>
                </ul>
            </li>
            <li class="nav-item"> <a class="nav-link collapsed" href="#"> <i class="bi bi-envelope"></i> <span>Contact</span> </a></li>
            <li class="nav-item"> <a class="nav-link collapsed" href="#"> <i class="bi bi-question-circle"></i> <span>F.A.Q</span> </a></li>
            <li class="nav-item"> <a class="nav-link collapsed" href="@Url.Action("Logout", "Profile")"> <i class="bi bi-box-arrow-left"></i> <span>Logout</span> </a></li>
        </ul>
    </aside>
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Learner Opportunities</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Learner Opportunities</li>
                </ol>
            </nav>
        </div>
        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">Learner Opportunities</h5>
                            <div></div>                         
                            <form method="post" action="@Url.Action("SaveLearnerInterest", "LearnerOpportunity")">
                               
                                <table class="table table-borderless datatable">

                                    <thead>
                                        <tr>
                                            <th>*</th>
                                            <th scope="col" data-sortable="false">#</th>
                                            <th scope="col">Posted</th>
                                            <th scope="col">Province</th>
                                            <th scope="col">Description</th>

                                            @*<th scope="col">Status</th>*@
                                            <th scope="col" data-sortable="false">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var Opportunities in Model.Opportunities)
                                        {
                                            <tr>
                                                <td>
                                                    <input type="checkbox" name="selectedOpportunityIds" value="@Opportunities.OpportunityId">
                                                </td>
                                                <th scope="row">
                                                    <a href="#">@Opportunities.PostedDate.ToString("yyyy-MM-dd")</a>
                                                </th>
                                                <th scope="row"><a href="#">@Opportunities.PostedDate.ToString("yyyy-MM-dd")</a></th>
                                                <td>@Opportunities.Province</td>
                                                <td><a href="#" class="text-primary">@Opportunities.Description</a></td>
                                                @*<td>@Opportunities.Type</td>*@
                                                @*<td>
                                                    @if (Opportunities.Status == "Open")
                                                    {
                                                        <span class="badge bg-success">@Opportunities.Status</span>
                                                    }
                                                    else if (Opportunities.Status == "Closed")
                                                    {
                                                        <span class="badge bg-danger">@Opportunities.Status</span>
                                                    }
                                                    else if (Opportunities.Status == "Closing Soon")
                                                    {
                                                        <span class="badge bg-warning">@Opportunities.Status</span>
                                                    }
                                                </td>*@
                                                <td>
                                                    <input type="hidden" name="selectedOpportunitiesCount" value="0">
                                                    <a href="@Url.Action("OpportunityModal", "YourControllerName", new { id = @Opportunities.OpportunityId })" class="btn btn-link" data-toggle="modal" data-target="#modalOpportunity_@Opportunities.OpportunityId" data-description="@Opportunities.Description">View</a>
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                @*<button type="submit" class="btn btn-primary" href="@Url.Action("SaveLearnerInterest", "LearnerOpportunity")">Submit Interests</button>*@
                                <button type="submit" class="btn btn-primary">Submit Interests</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer id="footer" class="footer">
        <div class="copyright"> &copy; Copyright <strong><span>FASSET 2023</span></strong>. All Rights Reserved</div>
        <div class="credits"> with love <a href="https://freeetemplates.com/">FreeeTemplates</a></div>
    </footer>
    <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

    <script>
        function updateSelectedCount() {
            var selectedCheckboxes = document.querySelectorAll('input[name="selectedOpportunities"]:checked');
            var selectedCount = selectedCheckboxes.length;
            document.querySelector('input[name="selectedOpportunitiesCount"]').value = selectedCount;
        }

        document.addEventListener('DOMContentLoaded', function () {
            // Your other code here (if any)
        });
    </script>

</body>


